<% if (erros.length > 0) { %>
  <div class="row">
    <div class="col my-2">
      <div class="alert alert-danger">
        <% erros.forEach(erro => { %>
          <%= erro %><br>
        <% }); %>
      </div>
    </div>
  </div>
<% } %>

<% if (sucesso.length > 0) { %>
  <div class="row">
    <div class="col my-2">
      <div class="alert alert-success">
        <% sucesso.forEach(msg => { %>
          <%= msg %><br>
        <% }); %>
      </div>
    </div>
  </div>
<% } %>
