<%- include('includes/head'); %>
<%- include('includes/nav');  %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

      <div class="row">
        <div class="col-lg">
          <h4>Faça seu cadastro</h4>
          <p>Se você ainda não tem uma conta cadastrada, prencha o formulário abaixo</p>
          
          <form action="/login/register" method="post">
            <div class="mb-3">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email">
            </div>
             <div class="mb-3">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Criar minha conta</button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Faça seu login</h4>
          <p>Se você já tem uma conta, faça login abaixo:</p>
          
          <form action="/login/login" method="post">
            <div class="mb-3">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email">
            </div>
             <div class="mb-3">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>


<%- include('includes/footer');  %>